@media only screen and (max-width: 500px) {
  
  /* main area */
  ._aigs{
    min-width:auto!important
  }

   /*first sidebar tabs*/
  .xbyj736{
    display:none
  }

  /* chat list */
  .two ._aigw{
    max-width:80px
  }
  
  /*chat list badges*/
  ._ak8l{
    position:absolute;
    left:8px
  }
  ._ak8k > span >*:not(.x1xp8n7a){
    display:none
  }
  
  ._aigw header, /* Sidebar Header */
  ._aigw .x1iyjqo2,/* chat name */
  ._aigw ._aou8._aj_h,/* contact name */
  ._aigw button.x2lah0s, /* archive button*/
  ._aigw .x1ky8ojb,/* tabs*/
  ._aigw ._ak8o, /* Chat Title */
  ._aigw ._ahlk._ahll, /* pinned */
  .x1ey2m1c, /*banner*/
  ._trash {
    display: none;
  }

}
