@media (max-width: 768px) {

	.xd32934.x1iji9kk,
	.x1ky8ojb.x1pi30zi{
		display:none;
	}
	.xa1v5g2.xn6708d{
		display:none
	}

	._aigw.x9f619{
		max-width:175px!important
	}
	.x1n2onr6.x1setqd9 {
		min-width:100%
	}
	.xxpasqj.x1ux35ld{
		margin-left:0
	}
	.x1n2onr6 > div > div >._ak8n > ._ak8h {
		padding:8px;
		margin-left:-12px;
		margin-right:0
	}
	
	.x1n2onr6 > div > div > ._ak8l {
		padding-right:4px
	}
}


